html, body {
  min-height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  background-color: #000;
  margin: 0;
}
h1 h2 {
  font-size: 6vh;
}
p {
  font-size: 3vh;
  opacity: 0.8;
  margin-bottom: 0;
}
.row {
  margin: 0;
}
.block {
  height: 89vh;
  width: 100%;
  background-size: cover;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin: 1em auto;
    padding: 0;
  }
