html, body {
  min-height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #202124;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}
h1 h2 {
  font-size: 6vh;
}
h4 {
  font-size: 2.5vh;
  font-weight: bold;
  margin: 4vw 3vw 1.5vw;
  color: #202124;
}
a {
  font-size: 3vh;
  font-weight: bold;
}
p {
  font-size: 2.5vh;
  opacity: 0.8;
  margin: 1.5vw 3vw 3vw;
  color: #fff;
}
.row {
  margin: 0;
}
.block {
  height: 89vh;
  width: 100%;
  background-size: cover;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin: 1em auto;
    padding: 0;
  }

.spacing-img {
    width: 100vw;
    height: 62vw;
}
.spacing-img img {
  height: 100%;
  width: 100%;
}

.section-title {
  padding: 6vh 5vw 6vh;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .spacing-img {
      width: 100vw;
      height: 80vh;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .spacing-img img {
    display: none;
  }
  .tati {
    background-image: url("../img/Tati.png");
  }
  .shy {
    background-image: url("../img/Shy.png");
  }
  .prayer {
    background-image: url("../img/Prayer.png");
  }
}
