.events-frame {
  padding: 0 0 30vh;
}
.events-banner {
  z-index: 1;
  width: 100vw;
  height: 20vh;
  background-color: black;
  position: relative;
  bottom: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
