.events-banner {
  z-index: 1;
  width: 100vw;
  height: 10vh;
  background-color: black;
  position: relative;
  bottom: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#events iframe {
  transform: scale(1.75);
}
.events-frame {
  text-align: center;
  padding: 200px 0 220px;
}
