html, body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
}
.feed-container {
  height: 160vw !important;
}
.content {
  height: 160vw !important;
  overflow: hidden;
}
.item-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: auto;
  height: 159vw;
  overflow-y: hidden;
}
.item {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  height: 158vw;
  margin: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: grid;
  grid-template-rows: 100vw 36vw 22vw;
}
.title {
  grid-row: 2;
  padding: 5vw 0;
}
.title a {
  font-size: 5vh;
  font-weight: bold;
  color: #97E534;
  width: 100vw;
  text-decoration: none;
}
.description:first-of-type {
  grid-row: 1;
}
.description {
  width: 100vw;
  height: 158vw;
  margin: 0;
  display: grid;
  grid-template-rows: 100vw 36vw 10vw 12vw;
}
.tmblr-full {
  margin: 0;
  height: 100vw;
  width: 100vw;
}
.tmblr-full img {
    height: 100vw;
    width: 100vw;
    border-radius: 5vw 5vw 0 0;
    margin: 0;
    object-fit: cover;
}
.description p {
  display: none;
}
.description p:nth-child(2) {
  grid-row: 3;
  font-weight: bold;
}
.description p:nth-child(3) {
  grid-row: 4;
}
.description p:nth-child(-n+3) {
  font-size: 3.5vh;
  opacity: 0.8;
  margin: 0;
  display: block;
}
.pubDt {
  display: none;
}
.item-list::-webkit-scrollbar {
  width: 10px;
  height: 2vh;
}
.item-list::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2vh;
}
.item-list::-webkit-scrollbar-track {
  background: #1E1E1E;
}
@media screen and (min-width: 900px) {
  .feed-container {
    height: 100vh !important;
  }
  .content {
    height: 100vh !important;
  }
  .item-list {
    height: 99vh;
  }
  .item {
    width: 76vw;
    height: 98vh;
    margin: 0 12vw;
    grid-template-rows: 60vh 38vh;
    grid-template-columns: 108vh calc(76vw - 108vh);
    border-radius: 5vh;
    border: 1px solid #333;
  }
  .title {
    grid-row: 1;
    grid-column: 2
  }
  .title a {
    font-size: 10vh;
    width: calc(76vw - 108vh);
  }
  .description:first-of-type {
    grid-row: 1 / 3;
    grid-column: 1;
  }
  .description {
    width: 76vw;
    height: 98vh;
    grid-template-rows: 60vh 14vh 24vh;
    grid-template-columns: 108vh calc(76vw - 108vh);
  }
  .tmblr-full {
    height: 98vh;
    width: 98vh;
  }
  .tmblr-full img {
      height: 98vh;
      width: 98vh;
      border-radius: 5vh 0 0 5vh;
      margin-right: 10vh;
  }
  .description p:nth-child(2) {
    grid-row: 2;
    grid-column: 2;
  }
  .description p:nth-child(3) {
    grid-row: 3;
    grid-column: 2;
  }
  .description p:nth-child(-n+3) {
    font-size: 7vh;
  }
}
