.follow-square {
  background-image: url(../img/Memorial.png);
  color: #fff;
}

.follow-square .centering-bar {
  display: grid;
  grid-template-rows: 5fr 5fr 5fr 5fr 5fr;
}
.follow-square .grey-bar {
  grid-row: 2/5;
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 5fr 5fr;

  padding: 3vh 0;
}
.follow-square img {
  height: 8vh;
  padding: 1vh;
  border: 1px solid #FFDC5F;
  border-radius: 3vh;
}
.fb {
  grid-column: 2;

}
.ig {
  grid-column: 4;

}
