.grey-bar {
  position: relative;
  bottom: 19vw;
  left: 58vw;
  border-radius: 1vh 0 0 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 42vw;
}
.grey-bar img {
  height: 14vw;
  padding: 2vw 3vw;
  width: auto;
}
