#intro {
  display: block;
  text-align: left;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 5vh;
}
.logo {
  padding: 0 0 1vh;
  background-color: #000000;
}
.logo img {
  height: auto;
  width: 100vw;
  display: block;
  margin: 0 auto;
}

.video-position {
  width: 100vw;
  height: 56.25vw;
  top: 24vw;
}
.square-vid {
  height: 56.25vw;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.video-container {
  width: 100vw;
  height: 0;
  position: relative;
  padding-bottom: 56.25vw;
  overflow: hidden;
  margin: 0;
}
#intro iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#intro h2 {
  padding: 0 0 0 6vw;
  margin: 0 8vw;
  border-left: 1px solid #97E534;
  font-weight: normal;
  font-size: 2.5vh;
}
.grey-mission {
  width: 100vw;
  padding: 3vh 0;
  background-color: #1E1E1E;
  margin-top: 5vh;
}
.intro-btns {
  margin: 5vh 0;
}
.intro-button {
  width: 60vw;
  margin: 4vh 18vw;
  padding: 1vh;
  border-radius: .5vh;
  border: 1px solid #97E534;
  color: #97E534;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5vh;
  font-weight: bold;
}
