#intro {
  display: block;
  text-align: left;
  color: #fff;
  overflow-x: hidden;
}
.logo {
  padding: 0;
}
.logo img {
  height: auto;
  width: 100vw;
  display: block;
  margin: 0 auto;
}
.color-bar {
  width: 100vw;
  height: 1vh;
  display: none;
}
.red-bar {
  position: absolute;
  left: 0;
  width: 30vw;
  height: 1vh;
  background-color: #D60000;
}
.red-triangle {
  height: 1vh;
  width: auto;
  position: absolute;
  left: 30vw;
  transform: scaleY(-1);
}
.green-triangle {
  height: 1vh;
  width: auto;
  position: absolute;
  right: 30vw;
  transform: scaleY(-1);
}
.green-bar {
  position: absolute;
  right: 0;
  width: 30vw;
  height: 1vh;
  background-color: #038B00;
}
.video-position {
  width: 100vw;
  height: 56.25vw;
  top: 32vw;
}
.square-vid {
  height: 56.25vw;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 55px 5px black;
}
.video-container {
  width: 100vw;
  height: 0;
  position: relative;
  padding-bottom: 56.25vw;
  overflow: hidden;
  margin: 0;
}
#intro iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#intro h2 {
  padding: 0 0 0 6vw;
  margin: 0 8vw;
  border-left: 1px solid #97E534;
  font-weight: normal;
  font-size: 2.5vh;
}
.grey-mission {
  width: 100vw;
  padding: 3vh 0;
  margin-top: 5vh;
}
.intro-button {
  margin: 5vh 0;
  width: 50vw;
  margin: 4vh 21vw;
  padding: 4vw;
  border-radius: .5vh;
  border: 1px solid #97E534;
  color: #97E534;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
}
.follow-btns {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}
.intro-btn-container img {
  height: 5vh;
  padding: 2vw 6vw;
  width: auto;
}
.logo .intro-btns {
  display: none;
}
@media screen and (min-width: 900px) {
  .logo {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.83);
    backdrop-filter: blur(6px);
  }
  .logo img {
    height: 10vh;
    width: auto;
    display: block;
    margin: 0;
  }

  .video-position {
    padding-top: 16vh;
    width: 60vw;
    height: 33.75vw;
    margin: 0 auto;
  }
  .square-vid {
    height: 33.75vw;
    width: 60vw;
  }
  .video-container {
    width: 60vw;
    height: 0;
    position: relative;
    padding-bottom: 33.75vw;
  }
  #intro h2 {
    padding: 0 0 0 5vw;
    margin: 0 20vw;
    border-left: 1px solid #97E534;
    font-weight: normal;
    font-size: 5vh;
  }
  .grey-mission {
    width: 100vw;
    padding: 6vh 0;
  }
  .intro-btns {
    display: flex;
    width: 62vw;
    margin: 5vh auto 0;
  }
  .intro-button {
    width: 29vw;
    margin: 0 1vw;
    padding: 2vw 0;
    border-radius: .5vh;
    font-size: 3vh;

  }
  .intro-btn-container img {
    height: 5vh;
    padding: 2vw 2vw;
    width: auto;
  }

}
