.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  bottom: 0;
  height: 14vh;
  background-color: rgba(32,33,36,0.83);
  backdrop-filter: blur(6px);
  border-top: 1px solid #333;
  box-shadow: 0 0 55px 5px black;
}
.navbar-content {
  margin: 0;
  padding: 0;
}
nav .item {
    text-align: center;
    justify-content: center;
}
nav ul {
    display: flex;
}
nav ul li {
  list-style-type: none;
  flex: 1;
}
nav ul li a {
  justify-content: center;
}
nav ul li svg {
  height: 5vh;
  width: auto;
  padding-top: 2vh;
}
#menu {
  height: 4vh;
  padding-top: 2.5vh;
  padding-bottom: .5vh;
}
nav a {
  stroke: #fff;
  text-decoration: none;
}

h5 {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 2vh;
  padding-top: 1vh;
}
@media screen and (min-width: 900px) {
  .navbar {
    position: fixed;
    width: 50vw;
    height: 10vh;
    z-index: 2;
    top: 0;
    left: 48vw;
    background-color: rgba(0,0,0,0);
    backdrop-filter: none;
    border-top: none;
    box-shadow: none;
  }
  nav .item {
    display: flex;
  }
  #menu {
    height: 2.5vh;
    width: auto;
    padding-top: 2.5vh;
    padding-bottom: 0;
  }
  nav ul li svg {
    height: 3vh;
    width: auto;
    padding-top: 2vh;
  }
  h5 {
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 2vh;
    padding-top: .5vh;
  }
}
