html, body {
  font-family: 'Inter', sans-serif;
  background-color: #202124;
  color: #fff;
  margin: 0;
}
.feed-container {
  height: 153vw !important;
}
.content {
  height: 153vw !important;
  overflow-y: hidden !important;
}
.item-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: auto;
  height: 152vw;
  overflow-y: hidden;
}
.item {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  height: 151vw;
  margin: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: grid;
  grid-template-rows: 100vw 36vw 15vw;
}
.title {
  grid-row: 2;
  padding: 5vw 0;
}
.title a {
  font-size: 5vh;
  font-weight: bold;
  color: #97E534;
  width: 100vw;
  text-decoration: none;
}
.description:first-of-type {
  grid-row: 1;
}
.tmblr-full {
  margin: 0;
  height: 100vw;
  width: 100vw;
}
.tmblr-full img {
    height: 100vw;
    width: 100vw;
    border-radius: 5vw 5vw 0 0;
    margin: 0;
    object-fit: cover;
}
.description p {
  display: none;
}
.description:last-of-type {
 grid-row: 3;
}
.pubDt {
  font-size: 3.5vh;
  opacity: 0.8;
  margin: 0;
}
.item-list::-webkit-scrollbar {
  width: 10px;
  height: 2vh;
}
.item-list::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2vh;
}
.item-list::-webkit-scrollbar-track {
  background: #1E1E1E;
}
@media screen and (min-width: 456px) {
  .feed-container {
    height: 100% !important;
  }
  .content {
    height: 100% !important;
  }
  .item-list {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 7fr 7fr 7fr 7fr 7fr 7fr;
    column-gap: 5%;
    grid-template-rows: 50% 50%;
    scroll-snap-type: none;
    scroll-behavior: none;
    -webkit-overflow-scrolling: none;
  }
  .item:first-of-type {
    grid-area: 1 / 1 / span 2 / span 3;
    grid-template-rows: 50% 30% 5% 15%;
  }
  .item:first-of-type .title a {
    font-size: 6vh;
  }
  .item {
    width: 100%;
    height: 100%;
    grid-area: auto / auto / span 1 / span 2;
    margin: 0;
    grid-template-rows: 60% 20% 5% 15%;
    grid-template-columns: 100%;
    border-radius: 0;
    border: none;
  }
  .title {
    grid-row: 2;
    grid-column: 1;
    padding: 5% 0;
  }
  .title a {
    font-size: 3.5vh;
    width: 100%;
  }
  .description:first-of-type {
    grid-row: 1 / 4;
    grid-column: 1;
  }
  .description {
    width: 100%;
    height: 100%;
  }
  .tmblr-full {
    width: 100%;
    height: 100%;
  }
  .tmblr-full img {
      width: 100%;
      height: 100%;
      border-radius: 2%;
      margin-right: 0;
  }
  .description:last-of-type {
    grid-row: 4;
    grid-column: 1;
  }
  .item:first-of-type .pubDt {
    font-size: 4vh;
  }
  .pubDt {
    font-size: 3vh;
  }
}
