html, body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
}
.item {
  display: grid;
  grid-template-rows: 80vh 28vh 12vh;
}
.title {
  grid-row: 2;
}
.title a {
  font-size: 6vh;
  font-weight: bold;
  color: #04C700;
  padding: 3vh;
  text-decoration: none;
}
.description:first-of-type {
  grid-row: 1;
}
.tmblr-full {
  margin: 0;
  height: 80vh;
  width: 80vh;
}
.tmblr-full img {
    height: 90vw;
    width: 90vw;
    border-radius: 10vw;
    margin: 5vw;
}
.description p {
  display: none;
}
.description:last-of-type {
 grid-row: 3;
}
.pubDt {
  font-size: 5vh;
}
