.tumblr-section {
  padding-bottom: 5vh;
}
.tumblr-section iframe {
  position: relative;
  bottom: 20vw;
  background-color: none;
  height: 143vw;
  width: 90vw;
  margin: 0 5vw;
}

.fade {
  position: relative;
  z-index: 1;
  top: 71vw;
  width: 100vw;
  height: 20vw;
  background: linear-gradient(rgba(32, 33, 36, 0),rgba(32, 33, 36, 1));
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.view-all {
  font-size: 2.5vh;
  color: #97E534;
  width: 30vw;
  margin: 0 34vw;
  padding: 1vw;
  border-radius: .5vh;
  border: 1px solid #97E534;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.news-view {
  position: relative;
  bottom: 20vw;
}
.swipe {
  position: relative;
  bottom: 25vw;
  color: white;
  opacity: 0.4;
  white-space: pre;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.2vh;
}
@media screen and (min-width: 900px) {
  .tumblr-section iframe {
    height: 60vh;
    width: 76vw;
    margin: 0 12vw;
    position: static;
    overflow-y: hidden;
  }
  .fade {
    display: none;
  }
  .news-view {
    position: static;
  }
  .swipe {
    position: static;
  }
  .tumblr-section {
    padding-bottom: 15vh;
  }
}
