#resources {
  padding-bottom: 16vh;
}
#resources p {
  text-align: center;
  font-size: 1em;
  opacity: 1;
}
#resources a {
  display: flex;
  justify-content: center;
}
#resources svg {
  height: 15vh;
  width: auto;
  padding: 5vh 0;
}
#resources .intro-button {
  margin: 0 auto;
}
.resource-page {
  text-align: left;
}
.resource-p {
  text-align: left !important;
  margin-left: none !important;
  margin-right: none !important;
}
.resource-t {
  text-align: center;
  margin-bottom: 0;
}
#resources li {
  margin: 2vh;
}
#resources ul {
  padding-left: 5vw;
}

@media screen and (min-width: 900px) {
  .resource-t {
    margin-top: 10vh !important;
  }
}
