#resources {
  padding-bottom: 12vh;
}
#resources p {
  text-align: center;
}
#resources a {
  display: flex;
  justify-content: center;
}
#resources svg {
  height: 15vh;
  width: auto;
  padding: 5vh 0;
}
#resources .intro-button {
  margin: 0 23vw;
}
