#resources {
  padding-bottom: 16vh;
}
#resources p {
  text-align: left;
  font-size: 1em;
  opacity: .8;
  font-size: 2.5vh;
}
#resources a {
  display: flex;
  justify-content: center;
}
#resources svg {
  height: 15vh;
  width: auto;
  padding: 0 0 5vh;
}
#resources .intro-button {
  margin: 5vh auto;
}
.resource-page {
  text-align: left;
}
.resource-p {
  text-align: left !important;
  margin-left: none !important;
  margin-right: none !important;
}
.resource-t {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}
#resources li {
  margin: 2vh;
}
#resources ul {
  padding-left: 5vw;
}
.food-image {
  width: 100vw;
  height: auto;
  margin-bottom: 6vh;
}
.clothes-img {
  display: none;
}
@media screen and (min-width: 600px) {
  .clothes-img {
    display: block;
    height: 66vh;
    width: auto;
  }
  .resource-frame {
    display: flex;
    margin: 0 5vw;
  }
  .resource-t {
    margin-top: 10vh !important;
  }
  .food-image {
    width: 90vw;
    margin-left: 5vw;
  }
  .main-resources p {
    margin: 1.5vw 5vw 3vw;
    opacity: 0.8;
  }
  #resources {
    padding-bottom: 10vh;
  }
  #resources a {
    display: block;
    margin-left: 5vw;
  }
  #resources .intro-button {
    margin: 5vh 5vw;
    width: 16vw;
  }

}
